[submodule "Alyx.Discord.External"]
	path = Alyx.Discord.External
	url = https://github.com/Tawmy/Alyx.Discord.External
[submodule "NetStone.Api.Sdk"]
	path = NetStone.Api.Sdk
	url = https://github.com/Tawmy/NetStone.Api.Sdk.git
