services:
  db:
    image: postgres:16
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: alyx
      POSTGRES_USER: alyx
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d alyx -U alyx" ]
      interval: 10s
      timeout: 5s
      retries: 5
  
  bot:
    image: ghcr.io/tawmy/alyx.discord:1.9.0
    restart: unless-stopped
    environment:
      DB_CONNECTION_STRING: Host=db;Database=alyx;Username=alyx;Password=${DB_PASSWORD}
      BOT_TOKEN: ${BOT_TOKEN}
      DATA_PROTECTION_CERTIFICATE: /mnt/cert/data-protection
      STATUS_MESSAGE: "Add me to your apps!"
      
      # NetStone API and Alyx API split into separate configurations to allow for different Keycloak realms
      # authorizing with NetStone API
      NETSTONE_API_ROOT_URI: https://netstone.eorzea.online
      NETSTONE_API_AUTHORITY: https://ffxiv.id/realms/eorzea
      NETSTONE_API_CLIENT_ID: alyx-discord
      NETSTONE_API_SCOPES: netstone-api
      NETSTONE_API_CLIENT_SIGNED_JWT_CERTIFICATE: /mnt/cert/signed-jwt
      
      NETSTONE_MAX_AGE_CHARACTER: "60" # one hour
      NETSTONE_MAX_AGE_CLASS_JOBS: "60" # one hour
      NETSTONE_MAX_AGE_MINIONS: "1080" # 18 hours
      NETSTONE_MAX_AGE_MOUNTS: "1080" # 18 hours
      NETSTONE_MAX_FREE_COMPANY: "10080" # one week
      
      # JWT token validation in API
      AUTH_AUTHORITY: https://ffxiv.id/realms/eorzea
      AUTH_AUDIENCE: alyx-discord
      
      LOGGING__LOGLEVEL__DEFAULT: Information
      LOGGING__LOGLEVEL__MICROSOFT.ASPNETCORE: Warning
      LOGGING__LOGLEVEL__MICROSOFT.ENTITYFRAMEWORKCORE: Warning
      LOGGING__LOGLEVEL__SYSTEM.NET.HTTP.HTTPCLIENT: Warning
      LOGGING__LOGLEVEL__POLLY: Warning