@page "/"

<PageTitle>Alyx</PageTitle>

<div class="container">
    <div id="intro">
        <img src="https://cdn.discordapp.com/avatars/1284807895246045234/52a249e36c3b4976390e55aceb85d6a3.webp?size=256" alt="Alyx Avatar"/>
        <div class="name">Alyx</div>
        <div class="subtitle">ffxiv discord app</div>
    </div>

    <div id="buttons">
        <LabeledButton
            ArrowLabel="Available to everyone on your server."
            Url="https://discord.com/oauth2/authorize?client_id=1284807895246045234">
            Add to Server
        </LabeledButton>
        <LabeledButton
            ArrowDirection="LabeledButton.Direction.Right"
            ArrowLabel="Available only to you in all your servers and DMs."
            Url="https://discord.com/oauth2/authorize?client_id=1284807895246045234">
            Add to Your Apps
        </LabeledButton>
    </div>
</div>