.container {
    --gap: 24px;

    width: 100%;
    margin-top: var(--gap);

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;

    #demo-container {
        width: min(600px, 100%);
    }
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    width: min(100%, 875px);

    a {
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .container {
        --gap: 75px;
    }
}