<button class="btn-input" disabled="@(!_enabled)" @onclick="PressButtonAsync">
    /character get
    <span>
        <!-- only spans are valid inside buttons aaaa -->
        <span>name</span>
        <span>Alyx Bergen</span>
    </span>
    <span>
        <span>world</span>
        <span>Phoenix</span>
    </span>
    <span>
        ➤
    </span>
</button>

@code {
    private bool _enabled = true;
    [Parameter] public EventCallback OnButtonPressed { get; set; }

    private Task PressButtonAsync()
    {
        _enabled = false;
        InvokeAsync(StateHasChanged);
        return OnButtonPressed.InvokeAsync();
    }

}