<div class="message">
    <div class="connector">

    </div>
    <div class="reply">
        <b>You</b> used
        <div class="command">
            character get
        </div>
    </div>
    <img src="https://cdn.discordapp.com/avatars/1284807895246045234/52a249e36c3b4976390e55aceb85d6a3.webp?size=256"
         alt="Avatar for Alyx"/>
    <div class="author is-app">Alyx</div>
    <div class="message-content">
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <Thinking/>
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}