<div class="thinking">
    <div class="loading-indicator">
        <div></div>
        <div style="animation-delay: 150ms"></div>
        <div style="animation-delay: 300ms"></div>
    </div>
    <div class="text">
        Alyx is thinking...
    </div>
</div>