.user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 26px;
    width: min(100%, 300px);

    background: rgb(18, 18, 19);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.33);

    border-radius: 10px;
    overflow: hidden;

    transition: 800ms;

    @media (pointer: fine) {
        &:hover {
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
            transform: scale(1.05) rotate(1deg);
            transition: 180ms;
        }
    }

    .banner {
        height: 130px;
        background-size: cover;
        background-position: center;
    }

    .avatar {
        position: absolute;
        top: 126px;
        left: 12px;
        width: 95px;
        height: 95px;
        transform: translateY(-50%);
        border-radius: 100vmax;

        border: 5px solid rgb(18, 18, 19);
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1.1em;

        padding: 0 13px;

        .display-name {
            font-weight: bold;
            font-size: 1.4em;
        }

        .is-app::after {
            transform: translateY(-0.2rem);
        }

        .bio {
            margin-top: 24px;
        }
    }
}